{% extends "layout.html" %}

{% block content %}
  <h3>{{page.title}} <small> (<a href="{{page.urlTitle}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="/users/{{user.id}}">{{user.name}}</a></h4>
  <div>
    {% for tag in page.tags %}
    <a href='/search?tagsearch={{tag}}'>#{{tag}}</a>
    {% endfor %}
  </div>
  <hr/>
  <div><a href="/users/{{user.id}}">{{user.name}}</a></div>
  {% autoescape false %}
  <div class="page-body">{{ page.renderedContent }}</div>
  {% endautoescape %}
  <hr/>
  <a href="{{page.urlTitle}}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{page.urlTitle}}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
